<toolbar></toolbar>>

<ion-content [fullscreen]="true">
  
    <div class="contaier-login">
        <ion-item>
          <ion-label position="stacked">E-mail para recuperação</ion-label>
          <ion-input placeholder="Digite seu e-mail:"></ion-input>
        </ion-item>
      <ion-row>
        <ion-col>
            <ion-button (click)="move('login')" color="tertiary" type="submit" fill="solid" expand="full">
                Enviar
            </ion-button>
        </ion-col>
      </ion-row>
    </div>

</ion-content>

<footer></footer>