<toolbar></toolbar>>

<ion-content>

      <div class="contaier-login">
        <ion-list>
          <ion-item>
            <ion-label size="20px" position="stacked">Nome:</ion-label>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Idade:</ion-label>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Genêro</ion-label>
          </ion-item>
          <ion-button color="tertiary" type="submit" fill="solid" expand="block" (click)="move('pessoa')">
            Agendar
          </ion-button>
          <ion-button color="danger" type="submit" fill="solid" expand="block" (click)="move('pessoa')">
            Cancelar
          </ion-button>
        </ion-list>
      </div>

</ion-content>

<footer></footer>
