<toolbar></toolbar>

<ion-content>

  <div class="contaier-login">
    <ion-list>
      <ion-item>
        <ion-label size="20px" position="stacked">Nome do Doutor:</ion-label>
        <ion-input [(ngModel)]="consulta.doutor" placeholder="Digite o nome do médico:"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Nome do paciente:</ion-label>
        <ion-input [(ngModel)]="consulta.paciente" placeholder="Digite o nome do paciente:"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Data:</ion-label>
        <ion-input [(ngModel)]="consulta.data" placeholder="Digite a data da consulta:"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Hora:</ion-label>
        <ion-input [(ngModel)]="consulta.hora" placeholder="Digite a hora da consulta:"></ion-input>
      </ion-item>
      <ion-button (click)="save()" color="tertiary" type="submit" fill="solid" expand="block" (click)="move('lista-consulta')">
        Cadastrar
      </ion-button>
      <ion-button color="danger" type="submit" fill="solid" expand="block" (click)="move('agend-consulta')">
        Cancelar
      </ion-button>
    </ion-list>
  </div>

</ion-content>

<footer></footer>