<toolbar></toolbar>

<ion-content [fullscreen]="true">

  <card
  [title]="'Caio Rodrigues'" 
  [subtitle]="'21/06/2023 - 15h'" 
  [text]="'Dores no peito'" ></card>

  <card
  [title]="'Elias Castro'" 
  [subtitle]="'23/07/2023 - 12h'" 
  [text]="'Consulta'" ></card>

  <card
  [title]="'Heloisa Chaves'" 
  [subtitle]="'23/07/2023 - 17h'" 
  [text]="'Encaminhamento cirurgia'" ></card>

  <card
  [title]="'Renan Tinti'" 
  [subtitle]="'02/08/2023 - 10h'" 
  [text]="'Consulta'" ></card>

  <card
  [title]="'Lucas Morais'" 
  [subtitle]="'02/08/2023 - 14h'" 
  [text]="'Braço fraturado'" ></card>

</ion-content>

